.add-task-main {
  margin-left: 232px;
  padding: 64px;
  height: calc(100% - 96px);
  width: calc(100% - 232px);
}

.task-form-container {
  display: flex;
}

.task-left,
.task-right {
  flex: 1;
}

.task-seperator {
  width: 1px;
  background-color: #d1d1d1;
  margin: 0 40px;
}

.add-task-content h1 {
  font-size: 61px;
  margin-bottom: 20px;
  font-weight: bold;
}

.add-task-content .form-group {
  margin-bottom: 20px;
}

.add-task-content label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #d1d1d1;
}

.add-task-content input[type="text"],
.add-task-content input[type="date"],
.add-task-content textarea,
.add-task-content select {
  width: 100%;
  padding: 10px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

.add-task-content input:focus-visible,
.add-task-content textarea:focus-visible {
  outline: unset;
  border: 1px solid var(--secondary);
}

.add-task-content input::placeholder,
.add-task-content textarea::placeholder {
  color: #d1d1d1;
}

.add-task-content .form-group {
  position: relative;
  margin-bottom: 15px;
}

.add-task-content .input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.add-task-content .input-container input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.add-task-content .input-container input[type="date"] {
  padding-right: 15px;
}

.add-task-content .input-container .icon {
  position: absolute;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.add-task-content .subtask .icon:hover {
  background: var(--background-lightGrey);
  right: 11px;
  width: 23px;
  height: 23px;
  padding: 4px;
  border-radius: 50%;
}

.add-task-content textarea {
  height: 80px;
}

.add-task-content .required {
  color: red;
}

.add-task-content .priority-group {
  display: flex;
  flex-direction: column;
}

.priority-actions {
  display: flex;
  justify-content: space-between;
}

.priority-group button {
  padding: 16px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority-group button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.priority-actions .urgent.active {
  background-color: #ff3d00 !important;
}

.priority-actions .medium.active {
  background-color: #ffa800 !important;
}

.priority-actions .low.active {
  background-color: #7ae229 !important;
}

.priority-actions .active {
  box-shadow: none;
}

.priority-actions .active path {
  fill: #fff;
}

.add-task-content .add-subtask {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-content .form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;
}

.add-task-content .create-task-btn {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-content select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../svg/arrow-dropdown.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right 10px center;
  cursor: pointer;
}

.clear-btn {
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.clear-btn svg {
  max-height: 10px;
  margin-left: 5px;
}

.clear-btn:hover svg path {
  fill: var(--secondary);
}

.create-btn {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.create-btn:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

.check-mark {
  max-height: 10px;
  margin-left: 10px;
}

.create-btn:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

.clear-btn:hover {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  background: unset;
}

@media (max-width: 1320px) {
  .add-task-content {
    margin-top: 96px;
  }
}
