#big-card-modal {
  display: flex;
  flex-direction: column;
  max-width: 525px;
  max-height: calc(99dvh - 20px);
  box-shadow: 0px 0px 4px 0px #00000029;
  border-radius: 30px;
  background-color: white;
  gap: 18px;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 120;
  min-width: 525px;
}

.modal-overflow-hidden {
  overflow: hidden;
}

#big-card-modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-big-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  min-width: 164px;
  text-wrap: nowrap;
  font-size: 23px;
  border-radius: 8px;
  color: white;
}

.card-big-header h4 {
  padding-right: 25px;
  padding-left: 25px;
}

.technical-task {
  background-color: #1fd7c1;
}

.user-story {
  background-color: #0038ff;
}

.big-card-modal img {
  width: 13.3px;
  height: 13.3px;
}

.big-card-close-x {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.catogory-close-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
}

.big-card-head {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 26px;
  line-height: 50px;
}

.big-card-head h1 {
  word-break: break-word;
}

.big-card-description {
  word-wrap: break-word;
  font-size: 18px;
}

.big-card-close-x:hover {
  cursor: pointer;
}

.big-card-date {
  display: flex;
  gap: 25px;
  font-size: 18px;
}

.user-creatAt-p {
  margin-left: 25px;
}

.big-card-priority {
  display: flex;
  font-size: 18px;
  gap: 43px;
  align-items: center;
}

.select-prio-big-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PRIO SELECT */
.prio-img {
  display: flex;
  align-items: center;
  margin-left: 10px;
  min-width: 17px;
  min-height: 12.5px;
}

.big-card-assigned-head {
  font-size: 18px;
}

.big-card-assigned-member {
  display: flex;
  align-items: center;
  gap: 16px;
}

.b-card-initial-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  margin-left: 16px;
  font-size: 14px;
}

.big-card-assigned-name {
  font-size: 18px;
}

.assigned-member-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.assigned-member-initial-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.bigCard-subtask-head {
  font-size: 18px;
}

.bigCard-subtasks-container {
  max-width: 445px;

  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.bigCard-subtasks-container img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 16px;
  cursor: pointer;
}

.bigCard-subtask {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.bigCard-delete-edit-container {
  display: flex;
  align-items: end;
  justify-content: end;

  height: 32px;
  gap: 16px;
}

.big-card-delete {
  display: flex;
  gap: 12px;
  cursor: pointer;
  align-items: center;
}

.big-card-edit {
  display: flex;
  gap: 12px;
  align-items: center;
}
.big-card-edit:hover {
  cursor: pointer;
}

.bigCard-edit-delete-divider {
  height: 24px;
  width: 1px;
  border: 1px solid #d1d1d1;
}

.b-gray-color {
  color: #42526e;
}

#big-card-modal::-webkit-scrollbar-track {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .big-card-head h1 {
    font-size: 40px;
  }
  #big-card-modal {
    padding: 30px;
  }

  #big-card-modal p,
  .bigc-main-container,
  #big-card-modal,
  .big-card-select-prio {
    font-size: 18px;
  }
}

@media (max-width: 525px) {
  #big-card-modal {
    width: calc(100% - 20px);
    min-width: unset;
  }
}
