body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bc-with {
  max-width: 445px;
}

.bc-m-left {
  margin-left: 40px;
}

.bc-head {
  margin-top: 24px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid transparent;
  background-clip: content-box;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 100px solid transparent;
  border-bottom: 460px solid transparent;
  border-radius: 50px;
}

.bigc-main-container {
  width: 525px;
  max-height: 800px;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 21px;
  background-color: white;
}

.bc-close-container {
  display: flex;
  justify-content: end;
  margin-top: 32px;
}

.bc-close-container img {
  width: 13.5px;
  height: 13.5px;
}

input {
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  width: 445px;
  height: 48px;
  margin-top: 8px;
}

input:focus {
  border-color: #d1d1d1;
  outline: none;
}

.bc-description-head {
  margin-top: 18px;
}

#bc-description-textarea {
  width: 445px;
  height: 120px;
  margin-top: 8px;
  padding: 6px;
  border-radius: 15px;
  outline: none;
  border-color: #d1d1d1;
}

.bc-duedate-head {
  margin-top: 32px;
}

.bc-priority-head {
  margin-top: 40px;
}

.bc-priority-select-container {
  min-height: 56px;
  margin-top: 8px;
  display: flex;
  gap: 16px;
}

.bc-prio-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137.5px;
  height: 56px;
  border: 1px solid black;
  border-radius: 10px;
  gap: 8px;
}

.bc-assigned-head {
  margin-top: 24px;
}

select {
  margin-top: 8px;
  width: 445px;
  height: 48px;
  border-radius: 10px;
  border-color: #d1d1d1;
}

.bc-show-selected-assigned {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  min-height: 42px;
}

.bc-card-initial-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #0038ff;
  color: white;
  font-size: 14px;
}

.bc-subtask-head {
  margin-top: 20px;
}

.bc-input-container {
  position: relative;
  margin-right: 40px;
}

.bc-input-subtask {
  width: 100%;
  padding-right: 30px;
}

.bc-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.bc-end-button {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 24px;
  margin-left: 396px;
  margin-bottom: 32px;
  background-color: #2a3647;
  color: white;
  padding: 16px;
  border-radius: 15px;
}
