body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bc-with {
  max-width: 445px;
}

.bc-m-left {
  margin-left: 40px;
}

.bc-head {
  margin-top: 24px;
}

.bigc-main-container {
  width: 525px;
  min-height: 800px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 21px;
}

.bc-close-container {
  display: flex;
  justify-content: end;
  margin-top: 32px;
}

.bc-close-container img {
  width: 13.5px;
  height: 13.5px;
}

.bc-title-input {
  height: 48px;
  width: 445px;
  margin-top: 8px;
}

input {
  border: 1px solid #d1d1d1;
  border-radius: 15px;
}

input:focus {
  border-color: #d1d1d1;
  outline: none;
}

.bc-description-head {
  margin-top: 18px;
}

.bc-description-input {
  width: 445px;
  height: 120px;
  margin-top: 8px;
}
