.bigc-main-container .form-group {
  margin-bottom: 20px;
}

.bigc-main-container label {
  display: block;
  margin-bottom: 5px;
}

.bigc-main-container input[type="text"],
.bigc-main-container input[type="date"],
.bigc-main-container textarea,
.bigc-main-container select {
  width: 100%;
  padding: 10px;
  height: 48px;
  border: 1px solid var(--line);
  border-radius: 8px;
}

.bigc-main-container input:focus-visible,
.bigc-main-container textarea:focus-visible,
.bigc-main-container select:focus-visible {
  outline: unset;
  border: 1px solid var(--secondary);
}

.bigc-main-container input::placeholder,
.bigc-main-container textarea::placeholder {
  color: var(--line);
}

.bigc-main-container .form-group {
  position: relative;
  margin-bottom: 15px;
}

.bigc-main-container .input-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bigc-main-container .input-container input {
  width: 100%;
  padding-right: 70px;
  box-sizing: border-box;
}

.bigc-main-container .input-container input[type="date"] {
  padding-right: 15px;
}

.bigc-main-container textarea {
  height: 80px;
}

.bigc-main-container .required {
  color: #ff8190;
}

.bigc-main-container .priority-group {
  display: flex;
  flex-direction: column;
}

.bigc-main-container .add-subtask {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.bigc-main-container .form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;
}

.bigc-main-container .create-task-btn {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bigc-main-container .input-container .icon-container {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.bigc-main-container .subtask-actions .icon-container {
  position: unset;
}

.bigc-main-container .input-container .subtask .icon {
  position: unset;
  height: 15px;
  width: auto;
}

.bigc-main-container .input-container .subtask .icon:hover {
  background: unset;
  padding: 0;
  border-radius: unset;
}
