header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);
  height: 96px;
  width: 100%;
  padding-left: 232px;
}

.header-respo-logo {
  width: 32px;
  display: none;
  margin-left: 16px;
}

.heading-text {
  margin-left: 50px;
  font-size: 20px;
  line-height: 24px;
}

.header-right {
  position: relative;
  margin-right: 40px;
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}

.header-right > :first-child {
  transition: transform 100ms ease-out;
}

.header-right > :first-child:hover {
  transform: scale(1.2);
}

.qeustion-mark {
  width: 20px;
  height: 20px;
}

.btn-profile {
  font-size: 18px;
  line-height: 1;
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  border: 3px solid rgba(42, 54, 71, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-profile:hover,
.btn-profile:active {
  background-color: var(--btn-profile-hover);
}

.btn-profile > span {
  color: var(--secondary);
}

.profile-menu {
  position: absolute;
  top: 76px;
  right: 0;
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: 20px 0px 20px 20px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  z-index: 9999;
}

.profile-menu button:first-child {
  display: none;
}

.profile-menu button {
  font-size: 16px;
  text-align: start;
  line-height: 19.2px;
  text-wrap: nowrap;
  padding: 14px 8px;
  color: var(--text-navbar);
  width: 100%;
}

.profile-menu button:hover {
  background-color: var(--nav-hover);
}

.profile-menu button:first-child:hover {
  border-top-left-radius: 10px;
}

.profile-menu button:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 1320px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  header {
    padding-left: 0;
    height: 80px;
    position: fixed;
  }

  .heading-text {
    display: none;
  }

  .header-respo-logo {
    display: block;
  }

  .header-right {
    margin-right: 16px;
  }

  .header-right > :first-child {
    display: none;
  }

  .btn-profile {
    font-size: 14px;
    width: 40px;
    height: 40px;
  }

  .profile-menu {
    top: 60px;
  }

  .profile-menu button:first-child {
    display: inline-block;
  }
}
