header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);
  height: 96px;
  width: 100%;
  padding-left: 232px;
}

.header-respo-logo {
  width: 32px;
  display: none;
  margin-left: 16px;
}

.heading-text {
  margin-left: 50px;
  font-size: 20px;
  line-height: 24px;
}

.header-right {
  margin-right: 40px;
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}

.header-right > :first-child {
  transition: transform 100ms ease-out;
}

.header-right > :first-child:hover {
  transform: scale(1.2);
}

.qeustion-mark {
  width: 20px;
  height: 20px;
}

.profile-icon {
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  border: 3px solid rgba(42, 54, 71, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon > span {
  color: var(--secondary);
}

@media (max-width: 1320px) {
  header {
    position: fixed;
  }
}

@media (max-width: 768px) {
  header {
    padding-left: 0;
    height: 80px;
    position: fixed;
  }

  .heading-text {
    display: none;
  }

  .header-respo-logo {
    display: block;
  }

  .header-right {
    margin-right: 16px;
  }

  .header-right > :first-child {
    display: none;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
  }
}
