.navbar {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 232px;
  height: 100%;
  padding-block: 64px;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
}

.navbar-logo {
  width: 100px;
  height: 120px;
}

.navbar-link-container {
  width: 100%;
  height: calc(100% - 242px);
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-link-container > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 56px;
  gap: 8px;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--text-navbar);
  padding: 8px 56px;
}

.navbar-link:hover {
  background-color: var(--nav-hover);
}

.navbar-link:active {
  background-color: var(--active);
  color: var(--text-secondary);
}

.navbar-link > img {
  width: 30px;
  height: 30px;
}

.gdpr {
  color: var(--text-navbar-bottom);
}

.gdpr:hover {
  background-color: var(--nav-hover);
}

@media (max-width: 768px) {
  .navbar {
    inset: unset;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: unset;
    position: fixed;
    z-index: 1000;
  }

  .navbar-logo-container {
    display: none;
  }

  .navbar-link-container {
    width: inherit;
    height: inherit;
    margin: 0;
    flex-direction: row;
    justify-content: unset;
  }

  .navbar-link-container > :last-child {
    display: none;
  }

  .navbar-link-container > ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 16px;
  }

  .navbar-link-container > ul > li {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .navigation {
    padding: 0;
    width: 76px;
    height: 76px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    padding-inline: 8px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .navbar-link > img {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 375px) {
  .navbar-link-container > ul {
    padding-inline: 1px;
  }

  .navigation {
    width: unset;
  }
}
