h1 {
  font-size: 61px;
  line-height: 73.2px;
}

.policy-main h2 {
  font-size: 27px;
}

.policy-main img {
  width: 32px;
  height: 32px;
}

.policy-main p {
  margin-top: 10px;
  line-height: 19.2px;
}

.policy-container {
  display: flex;
  flex-direction: column;
  width: 1016px;
  margin-top: 32px;
  margin-left: 328px;
  gap: 35px;
}
