body {
  height: unset;
  min-height: 100vh;
}

.login-max-witdh-wrapper {
  max-width: 1940px;
  margin: auto;
}

.login-join-logo {
  width: 90px;
  height: 110px;
  left: 60px;
  top: 37px;
  position: absolute;
}

.login-signup-container {
  display: flex;
  justify-content: end;
  padding-top: 37px;
  margin-right: 138px;
  gap: 35px;
}

.login-signup-container p {
  display: flex;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
}

#login-signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 91px;
  border-radius: 12px;
  padding: 15px 16px;
  text-wrap: nowrap;
  background-color: #2a3647;
  color: white;
  border: none;
}

.blue-arrow-sign {
  position: absolute;
  top: 60px;
  left: 50px;
}

.login-login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 552px;
  height: 650px;
  background-color: white;
  border-radius: 15px;
  margin: 60px auto;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.sign-privacy-blue {
  color: #29abe2;
}

.sign-accept-agb-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: auto;
  margin-top: 26px;
}

.sign-accept-agb-container img {
  cursor: pointer;
}

.login-login-head {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 38px;
  font-size: 32px;
}

.login-login-input-fields {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 32px;

  height: 152px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 150px;
}

.login-remember-container {
  gap: 8px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 24px;
  max-width: 400px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.login-remember-container img {
  margin-left: 40px;
  width: 16px;
  height: 16px;
}

.login-blue-stretch {
  display: flex;
  background-color: #29abe2;
  height: 3px;
  width: 150px;
  margin: auto;
  margin-top: 16px;
}

.login-login-input-fields input {
  height: 48px;
  border-radius: 15px;
  border: 1px solid #d1d1d1;
  padding-left: 20px;
}

#sign-login-btn {
  display: flex;
  background-color: #2a3647;
  color: white;
  padding: 15px 24px;
  border-radius: 12px;
  text-wrap: nowrap;
}

#sign-login-btn:not(:disabled):hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: 0px 4px 4px 0px #00000040;
}

#sign-login-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#login-login-guest-btn {
  display: flex;
  color: #2a3647;
  padding: 15px 24px;
  border-radius: 12px;
  text-wrap: nowrap;
  border: 1px solid #2a3647;
}

.login-login-btn-container {
  display: flex;
  gap: 35px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 48px;
}

.login-privacy-legal-container {
  width: 100%;
  display: flex;
  color: #a8a8a8;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  padding-bottom: 20px;
}

.login-login-mail,
.login-login-pw,
.login-login-name {
  width: 100%;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 24px 25px;
}

.login-login-mail {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><mask id="mask0_242159_5108" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="25"><rect y="0.5" width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_242159_5108)"><path d="M4 20.5C3.45 20.5 2.97917 20.3042 2.5875 19.9125C2.19583 19.5208 2 19.05 2 18.5V6.5C2 5.95 2.19583 5.47917 2.5875 5.0875C2.97917 4.69583 3.45 4.5 4 4.5H20C20.55 4.5 21.0208 4.69583 21.4125 5.0875C21.8042 5.47917 22 5.95 22 6.5V18.5C22 19.05 21.8042 19.5208 21.4125 19.9125C21.0208 20.3042 20.55 20.5 20 20.5H4ZM20 8.5L12.525 13.175C12.4417 13.225 12.3542 13.2625 12.2625 13.2875C12.1708 13.3125 12.0833 13.325 12 13.325C11.9167 13.325 11.8292 13.3125 11.7375 13.2875C11.6458 13.2625 11.5583 13.225 11.475 13.175L4 8.5V18.5H20V8.5ZM12 11.5L20 6.5H4L12 11.5ZM4 8.75V7.275V7.3V7.2875V8.75Z" fill="%23A8A8A8"/></g></svg>');
}

.login-login-name {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_242159_6068" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_242159_6068)"><path d="M12 12C10.9 12 9.95833 11.6083 9.175 10.825C8.39167 10.0417 8 9.1 8 8C8 6.9 8.39167 5.95833 9.175 5.175C9.95833 4.39167 10.9 4 12 4C13.1 4 14.0417 4.39167 14.825 5.175C15.6083 5.95833 16 6.9 16 8C16 9.1 15.6083 10.0417 14.825 10.825C14.0417 11.6083 13.1 12 12 12ZM18 20H6C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18V17.2C4 16.6333 4.14583 16.1125 4.4375 15.6375C4.72917 15.1625 5.11667 14.8 5.6 14.55C6.63333 14.0333 7.68333 13.6458 8.75 13.3875C9.81667 13.1292 10.9 13 12 13C13.1 13 14.1833 13.1292 15.25 13.3875C16.3167 13.6458 17.3667 14.0333 18.4 14.55C18.8833 14.8 19.2708 15.1625 19.5625 15.6375C19.8542 16.1125 20 16.6333 20 17.2V18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20ZM6 18H18V17.2C18 17.0167 17.9542 16.85 17.8625 16.7C17.7708 16.55 17.65 16.4333 17.5 16.35C16.6 15.9 15.6917 15.5625 14.775 15.3375C13.8583 15.1125 12.9333 15 12 15C11.0667 15 10.1417 15.1125 9.225 15.3375C8.30833 15.5625 7.4 15.9 6.5 16.35C6.35 16.4333 6.22917 16.55 6.1375 16.7C6.04583 16.85 6 17.0167 6 17.2V18ZM12 10C12.55 10 13.0208 9.80417 13.4125 9.4125C13.8042 9.02083 14 8.55 14 8C14 7.45 13.8042 6.97917 13.4125 6.5875C13.0208 6.19583 12.55 6 12 6C11.45 6 10.9792 6.19583 10.5875 6.5875C10.1958 6.97917 10 7.45 10 8C10 8.55 10.1958 9.02083 10.5875 9.4125C10.9792 9.80417 11.45 10 12 10Z" fill="%23A8A8A8"/></g></svg>');
}

.login-login-pw-c,
.login-input-mail-c {
  position: relative;
}

.error-message {
  color: red;
  font-size: 0.75em;
  display: block;
  margin-top: 2px;
  padding-left: 12px;
  position: absolute;
  line-height: normal;
}

.login-svg {
  width: 24px;
  height: 24px;
  background-image: url(../svg/lock.svg);
  background-position: center center;
  position: absolute;
  background-repeat: no-repeat;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

.login-svg-confirmed {
  width: 24px;
  height: 24px;
  background-image: url(../svg/lock.svg);
  background-position: center center;
  position: absolute;
  background-repeat: no-repeat;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

.login-pw-non-visibility {
  width: 24px;
  height: 24px;
  background-image: url(../svg/visibility_off.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 55%;
  right: 20px;
  transform: translateY(-50%);
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

.login-pw-visibility {
  width: 24px;
  height: 24px;
  background-image: url(../svg/visibility.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

input:focus {
  border-color: #29abe2;
  outline: #29abe2;
  border-width: 2px;
  border-style: solid;
}

@media (max-width: 868px) {
  .login-login-container {
    width: 95%;
    margin-top: 90px;
    min-height: 90%;
    transform: scale(0.95);

    margin-bottom: unset;
  }

  .login-privacy-legal-container {
    margin-top: 55px;
    margin-bottom: 10px;
    background-color: #f6f7f8;
  }

  .login-remember-container {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
  }

  .login-login-mail,
  .login-login-pw {
    display: flex;
  }
  .login-login-input-fields {
    width: 75%;
  }

  .not-user-centre-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-signup-container {
    display: none;
  }
  .login-signup-container {
    background-color: #f6f7f8;
  }

  .login-join-logo {
    width: 60px;
    height: 78px;
    left: 40px;
    top: 25px;
  }

  .login-login-btn-container {
    flex-direction: column;
    gap: 20px;
    width: 75%;
  }

  #login-login-btn,
  #login-login-guest-btn {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .login-max-witdh-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .login-signup-container-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 37px;

    gap: 35px;
  }

  #sign-login-btn {
    display: unset;
  }

  .blue-arrow-sign {
    left: 3%;
    width: 21px;
    height: 20px;
  }

  .error-message {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  .blue-arrow-sign {
    width: 17px;
    height: 16px;
    top: 3%;
  }
  .error-message {
    font-size: 0.65rem;
  }
}

@media (max-width: 768px) and (max-height: 820px) {
  .login-privacy-legal-container {
    margin-top: 60px;
  }
  .login-login-container {
    transform: scale(0.85);
  }
  body {
    min-height: 110dvh;
  }
}

@media (max-width: 990px) and (max-height: 820px) {
  body {
    min-height: 120dvh;
  }
}

/* IPAD AIR */
@media (width: 820px) and (height: 1180px) {
  .login-login-container {
    margin-top: 239px;
    transform: scale(1);
  }
  .login-join-logo {
    top: 5%;
    width: 90px;
    height: auto;
  }
  .login-privacy-legal-container {
    margin-top: 189px;
    font-size: 1.3rem;
  }
}

/* IPAD PRO */
@media (width: 1024px) and (height: 1366px) {
  .login-login-container {
    margin-top: 309px;
    transform: scale(1.4);
  }
  .login-privacy-legal-container {
    margin-top: 259px;
    font-size: 1.5rem;
  }
}
/* SURFACE PRO */
@media (width: 912px) and (height: 1368px) {
  .login-login-container {
    margin-top: 299px;
    transform: scale(1.3);
  }
  .login-privacy-legal-container {
    margin-top: 239px;
    font-size: 1.6rem;
  }
}

/* IPAD MINI */
@media (width: 768px) and (height: 1024px) {
  .login-login-container {
    margin-top: 139px;
  }
  .login-privacy-legal-container {
    margin-top: 139px;
    font-size: 1.2rem;
  }
}
